
.logo {
   padding:5px;
}

.logo img {
   height:80px;
}

.main-header .navbar-default .nav > li > a {
   padding: 20px 10px;
}

.about-city-estate, .content-area {
   padding-top:20px;
}

.req {
   color:#ff0000;
}

.link {
   color:#0c4969;
   font-weight:bold;
}

/*input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #bdbdbd;
    background:#d4d4d4;
    font-weight:bold;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}*/

#progresstitles {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;margin: 0 0 1em;
   padding: 0;
   font-size: 80%;
   text-transform: uppercase
}

#progresstitles li {
   list-style: none;width: auto;padding: 0;margin: 0; -ms-flex: 1;
   -webkit-flex: 1;
   -moz-flex: 1;
   flex: 1;
   font-size:10px;
   text-align:center;
}

#progresstitles li span {
   display: none;
}

.about-text p, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
font-size:15px;
}

.banner .item {
  height:auto;
}

.searchtext {
width: 100%;
padding: 10px 17px;
font-size: 14px;
font-weight: 400;
border: 1px solid #e8e7e7;
outline: none;
color: #999;
height: 40px;
border-radius: 3px;
font-family: 'Roboto', sans-serif !important;;
}
