.calc, .subtotal {
text-align: right;
}

.calctbl {
   background-color: #f1f1f1;
}
.calctbl tr td {
   padding:2px;
}

.calctotalrow {
background-color:#cfcfcf;
font-weight:bold;
}

.calcbtn {
height:28px;
margin-bottom: 0px !important;
padding:0px 5px 0px 5px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 130px;
  height: 130px;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33;
  border-radius: 65px;
}

.address_field_space_below
{
margin-bottom:5px;
}
