<span style='color: #000'>98 frames</span>	<span style='color: #900'>5,376 KB</span>	<span style='color: #090'>1,079.03 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />